<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link type="text/css" href="../static/nav_and_logo.css" rel="stylesheet">
</head>
<body>
<div id="logo"><img src="../static/logo.png" alt="logo"></div>
<div id="navbar">
    <ul>
        <li><a href="http://127.0.0.1:5000/index">主页</a></li>
        <li><a href="http://127.0.0.1:5000/login">用户登录</a></li>
        <li><a href="http://127.0.0.1:5000/code">代码编辑</a></li>
        <li style="float:right"><a href="#about">关于</a></li>
        <li style="float:right"><a href="http://127.0.0.1:5000/logout">注销</a></li>
        <li style="float:right"><a href="http://127.0.0.1:5000/register">注册</a></li>

    </ul>
    <h1>
        {% if user.is_authenticated %}
          Hi {{user.username}}
        {% else %}
            Hi,匿名用户
        {% endif %}
    </h1>
</div>
</body>
</html>